@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

body {
  cursor: crosshair;
  overflow-x: hidden;
}

.serif {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.arial,
pre {
  font-family: "Arial", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 87.5%;
  color: #212529;
}

img {
  /* max-width: 100%; */
  width: 30vw;
}

.move {
  position: absolute;
  z-index: 9;
  cursor: pointer;
}

.nav {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
}

.link {
  color: #212529;
  text-decoration: underline;
  transition: 0.3s;
}

.link:hover {
  /* color: rgb(61, 61, 61); */
  color: black;
}