/* COLORS
#98b6c9 - blue
#8ead95 - green  
#514645 - brown
#f7c98e - orange
#f7958a - red
*/

.body {
  background-color: #eeede0;
  font-family: 'Epilogue', sans-serif;
}

p, span {
  color: #514645;
}

.navbar { 
  background-color: #8ead95; 
  font-family: 'Epilogue', sans-serif;
  font-weight: 400;
  font-size: 14px;
  opacity: 0.9;
  transition: top 0.4s;
}

.navbar a {
  transition-duration: 0.4s;
}

.navbar a:hover {
  transition-duration: 0.4s;
}

.heading-color {
  color: #98b6c9
}

.header-container {
  /* max-height: 400px; */
  position: relative;
  height: 90%;
}

.header-text {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.body-1 {
  position: relative;
  min-height: 500px;
}

.body-2 {
  position: relative;
  min-height: 500px;
}

.body-1-inside {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

footer {
  background-color: #f7c98e;
  color: #514645;
}

footer a {
  color: #514645;
  font-weight: 400;
  font-size: 15px;
  transition-duration: 0.4s;
}

footer a:hover {
  color: #514645;
  /* color: #fdfdfc; */
  text-decoration: none;
  text-shadow:0 0 8px white;
  transition-duration: 0.4s;
}